In [4]:
import pandas as pd

# Load the Titanic dataset
titanic_data = pd.read_csv('titanic (3).csv')

# 1. Print a concise summary of the dataset
print("1. Summary of the dataset:")
print(titanic_data.info())

# 2. Extract column labels, shape, and data types
print("\n2. Column labels:")
print(titanic_data.columns)
print("\nShape of the dataset:")
print(titanic_data.shape)
print("\nData types of the dataset:")
print(titanic_data.dtypes)

# 3. Create a Pivot table with multiple indexes
print("\n3. Pivot table with multiple indexes:")
pivot_table_multi_index = titanic_data.pivot_table(index=['Sex', 'Pclass'])
print(pivot_table_multi_index)

# 4. Create a Pivot table and find survival rate by gender on various classes
print("\n4. Survival rate by gender on various classes:")
pivot_table_gender_class = titanic_data.pivot_table('Survived', index='Sex', columns='Pclass', aggfunc='mean')
print(pivot_table_gender_class)

# 5. Create a Pivot table and find survival rate by gender
print("\n5. Survival rate by gender:")
pivot_table_gender = titanic_data.pivot_table('Survived', index='Sex', aggfunc='mean')
print(pivot_table_gender)

# 6. Create a Pivot table and find survival rate by gender, age-wise of various classes
print("\n6. Survival rate by gender, age-wise of various classes:")
bins = [0, 10, 30, 60, 80]
labels = ['0-10', '10-30', '30-60', '60-80']
titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], bins, labels=labels)
pivot_table_age_gender_class = titanic_data.pivot_table('Survived', index=['Sex', 'AgeGroup'], columns='Pclass', aggfunc='mean')
print(pivot_table_age_gender_class)

# 7. Partition each passenger into four categories based on their age
print("\n7. Partitioning passengers into four categories based on their age:")
titanic_data['AgeCategory'] = pd.cut(titanic_data['Age'], bins=[0, 10, 30, 60, 80], labels=['0-10', '10-30', '30-60', '60-80'])
print(titanic_data)

# 8. Create a Pivot table and count survival by gender, categories wise age of various classes
print("\n8. Count survival by gender, categories wise age of various classes:")
pivot_table_survival_gender_age_class = titanic_data.pivot_table(index=['Sex', 'AgeCategory'], columns='Pclass', aggfunc={'Survived': 'sum'})
print(pivot_table_survival_gender_age_class)

# 9. Create a Pivot table and find survival rate by gender, age of different categories of various classes
print("\n9. Survival rate by gender, age of different categories of various classes:")
pivot_table_survival_rate_gender_age_class = titanic_data.pivot_table('Survived', index=['Sex', 'AgeCategory'], columns='Pclass', aggfunc='mean')
print(pivot_table_survival_rate_gender_age_class)

# 10. Create a Pivot table and find survival rate by gender, age of different categories of various classes with fare as a dimension of columns
print("\n10. Survival rate by gender, age of different categories of various classes with fare as a dimension of columns:")
fare_bins = [titanic_data['Fare'].min(), titanic_data['Fare'].median(), titanic_data['Fare'].max()]
fare_labels = ['Low Fare', 'High Fare']
titanic_data['FareCategory'] = pd.cut(titanic_data['Fare'], bins=fare_bins, labels=fare_labels)
pivot_table_survival_fare_gender_age_class = titanic_data.pivot_table('Survived', index=['Sex', 'AgeCategory'], columns=['Pclass', 'FareCategory'], aggfunc='mean')
print(pivot_table_survival_fare_gender_age_class)

1. Summary of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None

2. Column labels:
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'Unnamed: 15'],
      dtype='object')

Shape of the dataset:
(891, 16)

Data types of the dataset:
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

3. Pivot table with multiple indexes:

KeyError: 'Sex'